$blue:#2b78ec;
$margin:5%;
$cream:#bcb877;
$cream2:$cream - 100;

@mixin border-radius($radius: 20px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* use this 
.box { 
	@include border-radius(10px); 
}
*/

body {
	
	font-family:helvetica,ariel,sans-serif;
}
header {
	margin:20px 0 0 $margin + 5%;
	h1{
		color:$blue;
	}
	h2 {
		color:$blue;
		margin:10px $margin +5%;
	}
}
p {
	margin:20px $margin;
}
a{
	color:$blue -100;
}
.grad {
	@include border-radius;
	padding:1%;
	/*gradient*/
	background-color: $cream;
    background-image: -webkit-linear-gradient(top, $cream, $cream2); 
    background-image:         linear-gradient(to bottom, $cream, $cream2);

    .intro {
    	background:#333;
    	@include border-radius;

    	.par1 {
    		color:$blue + 100;
    		a { 
    			font-size:20px;
    			background:$cream;
    			@include border-radius(10px);
    		}
    		a:hover {
    			background:$cream + 100;
    		}
    	}
    } 
    .feature {
    	@extend .intro;
    	border:1px solid blue;
    }
 }

ul.social-links li {
    list-style:none;
    a {
        display:block;
        float:left;
        width:65px;
        height:65px;
        text-indent:-999px;
    }
}
$icons:(facebook,googleplus,linkedin,twitter);
@each $social in $icons {
    .#{$social} {
        background:url('../img/#{$social}.png') no-repeat; 
    }
}



.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom: 1;
}
